<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<div th:fragment="header_menu">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar, #searchNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <ul class="navbar-nav">

                <th:block sec:authorize="!isAuthenticated()">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">Register</a>
                    </li>
                </th:block>

                <li class="nav-item">
                    <a class="nav-link" href="">Contact</a>
                </li>
            </ul>
        </div>

    </nav>
</div>

<div th:fragment="search_nav" class="row">
    <div class="col-md">

        <th:block sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
                <input type="submit" value="Logout" />
            </form>
        </th:block>

        <nav class="navbar navbar-expand-sm bg-light">
            <div class="collapse navbar-collapse" id="searchNavbar">
                <ul class="navbar-nav">
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item">
                            <b><a class="nav-link" th:href="@{/account_details}"
                                  sec:authentication="principal.fullName"></a></b>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/address_book}">Address Book</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link fas fa-shopping-cart fa-2x" th:href="@{/cart}"></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="javascript: document.logoutForm.submit()">Logout</a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </nav>
    </div>
</div>

</body>
</html>