<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopping Cart')" />
<body>
<div class="container-fluid">
    <div th:replace="navigation :: header_menu"></div>

    <div class="text-center">
        <h2>Checkout</h2>
    </div>

    <div class="row m-1">
        <div class="col-sm-8">
            <div class="card mt-3 mb-3">
                <div class="card-header"><h5>Payment Method</h5></div>
                <div class="card-body">
                    <form th:action="@{/place_order}" method="post">
                        <p>
                            <button class="btn btn-primary d-none" type="submit" id="buttonSubmit">Place Order</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-header"><h5>Order Summary</h5></div>
                <div class="card-body">
                    <div>
                        <table>
                            <th:block th:each="item : ${cartItems}">
                                <tr th:with="product = ${item.product}">
                                    <td>[[${item.quantity}]] X &nbsp;&nbsp;</td>
                                    <td width="70%">
                                        <a th:href="@{'/p/' + ${product.alias}}" target="_blank">
                                            [[${product.alias}]]
                                        </a>
                                        <br/>
                                    </td>
                                    <td>
                                        <div th:replace="fragments :: format_currency(${item.subtotal})">
                                    </td>
                                </tr>
                            </th:block>
                            <tr><td colspan="3"><hr/></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: modal_dialog"></div>
</div>
<script type="text/javascript" th:src="@{/js/common_modal.js}"></script>
<script type="text/javascript">
    contextPath = "[[@{/}]]";
    var csrfHeaderName = "[[${_csrf.headerName}]]";
    var csrfValue = "[[${_csrf.token}]]";

    $(document).ready(function() {
            $("#buttonSubmit").removeClass("d-none");
    });
</script>
</body>
</html>